<h1>Your account is now validated</h1>
<p>Hello {{name}}!</p>
<p>Your TAIKAI account is now validated and you are free to use all the features that are available on our economy. The account validation is an important onboarding step since it allows you to redeem TKAI vouchers, participate in TAIKAI bounties, vote on crowd voting, or get rewards by referring your friends.</p>
<p><strong>Invite your friends</strong> to join TAIKAI and, for each one who signup you and your friend receive <strong>{{amountReferred}} TKAIs.</strong> For each level you reach you earn extra TKAIs.</p>
<a href="{{referralSettingsUrl}}" class='cta-button'>GET INVITE LINK</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{referralSettingsUrl}}">{{referralSettingsUrl}}</a>
{{{supportMsg}}}