<h1>You're in a team!</h1>
<p>You were added to <strong>{{projectName}}</strong> as a project member for <strong>{{challengeName}}</strong> challenge. For more details, please click the button below.</p>
<a href="{{challengeUrl}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}