<h1>Oh no! Your project backing failed!</h1>
<p>Hello <strong>{{username}}!</strong></p>
<p>Back of <strong>{{amount}} VKAIs</strong> in {{challengeName}} to <strong>{{projectName}}</strong> failed.</p>
<p>Please try again!</p>
{{{supportMsg}}}