<h1>{{challengeName}} - Your application is moving forward. </h1>
<p>Hello, {{name}}! 👋</p>
<p>Congratulations. 🙌 </p>
<p>I want to share with you that you pass the {{currentStep}} to the {{nextStep}} on our recruitment process.</p>
<p><strong>Do you need help?</strong></p>
{{{supportMsg}}}