<h1>We have an important announcement for you!</h1>
<p><strong>{{challengeName}}</strong></p>
<p>{{message}}</p>
<p>For more details, please click the button below.</p>
<a href="{{challengeUrl}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}