<h1>Innovator registration is under review</h1>
<p>Your participant registration for <strong>{{challengeName}}</strong> by <strong>{{organizationName}}</strong> is under review. As soon as it is accepted you will receive an email that will confirm it.</p>
<p>For more details, please go to the challenge page.</p>
<a href="{{challengeUrl}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}