<h1>{{challengeName}} is under review</h1>
<p>Hello <strong>{{submitter}}</strong>!</p>
<p><strong>{{challengeName}}</strong> by <strong>{{organizationName}}</strong> is going to be reviewed and published as soon as the content is appropriate to our community.</p>
<p>Go to your <a href="{{link}}">challenge</a> page to check how it looks. Remember, the page will be only public once the challenge content is accepted by TAIKAI moderators.</p>
{{{supportMsg}}}