<h1>{{challengeName}} got published</h1>
<p>Congrats, <strong>{{submitter}}</strong>!</p>
<p><strong>{{challengeName}}</strong> by <strong>{{organizationName}}</strong> got published.</p>
<p>From now you can start promoting the challenge and spread the world about this. Go to your challenge page to check how it looks.</p>
<p>Promote your challenge page within your audience, partners and friends.</p>
<a href="{{link}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}