<h1>You got VKAIs on {{challengeName}}!</h1>
<p>Hello <strong>{{to}}!</strong></p>
<p>Transfer of <strong>{{amount}} VKAIs</strong> in {{challengeName}} from <strong>{{from}}</strong> received with success. Please use them wisely!</p>
{{{supportMsg}}}