<h1>{{challengeName}} - {{title}}</h1>
<p>{{{update}}}</p>
<p>For more details, please click the button below.</p>
<a href="{{updatesUrl}}" class='cta-button'>KNOW MORE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{updatesUrl}}">{{updatesUrl}}</a>
{{{supportMsg}}}