<h1>You sent VKAIs on {{challengeName}}!</h1>
<p>Hello <strong>{{from}}!</strong></p>
<p>Transfer of <strong>{{amount}} VKAIs</strong> in {{challengeName}} to <strong>{{to}}</strong> confirmed with success. Well done!</p> 
{{{supportMsg}}}