<h1>Claim your NFT</h1>
<p>Hello {{username}}!</p>
<p>The {{challengeName}} hackathon has come to an end, and we hope you enjoyed it and are looking forward to seeing you again at the next one.</p>
<p>We are excited to give you an exclusive auto-generative NFT based on your hackathon data.</p>
<p><strong>How to claim your NFT?</strong></p>
<p>Go to the hackathon page, and on the left sidebar, you will find a button below the hackathon title with a simple step-by-step guide to claim it.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>CLAIM NFT</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
{{{supportMsg}}}