<h1>Lost your password?</h1>
<p>Hello {{username}}!</p>
<p>Welcome to your journey at TAIKAI. It seems like you reset your password, but you still haven't activated your account. To activate it and recover your password, please click on the button below.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>ACTIVATE ACCOUNT AND RECOVER YOUR PASSWORD</a>
{{{expirationMsg}}}
<p><a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a></p>
<p>If you did not make this request, please ignore this email.</p>
{{{supportMsg}}}