<h1>Congratulations! Your {{challengeName}}'s feedback PoP was minted with success!</h1>
<p>Your <strong>{{challengeName}}'s</strong> feedback PoP (Proof of Participation) is a fully customized proof of participation that you receive in your wallet for helping us improve our platform based on your feedback.</p>
<p>You have just received it on <strong>{{walletAddress}}</strong> address on Polygon POS network.</p>
<a href='{{nftExplorerLink}}' class='cta-button'>View on NFT Explorer</a>
<br />
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href='{{nftExplorerLink}}'>{{nftExplorerLink}}</a></p>
<p>You can also view and share your PoP Gallery in your <a href='{{userProfile}}'>TAIKAI Profile</a>.</p>
{{{supportMsg}}}