<h1>You've been invited to be part of {{organizationName}}</h1>
<p>Hello <strong>{{username}}</strong>, you got invited to be part of {{organizationName}} at <a href="https://taikai.network">TAIKAI</a>.</p>
<p>One small step for you, a big step in the innovation of your organization. You will now be able to share the challenges of your organization with our community and edit all the information about your organization.</p>
<p>To accept the invite please click the button below.</p>
<a href="{{inviteUrl}}" class='cta-button'>SIGN UP</a>
{{{expirationMsg}}}
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}
