<h1>You've been invited to a team</h1>
<p>Hello <strong>{{to}}!</strong></p>
<p>We have an important role waiting for you! You received an invitation to join <strong>{{projectName}}</strong> team on challenge <strong>{{challengeName}}</strong>.</p>
<p>As a project member you can update the project description, manage the team membership and upload attachments to your project.</p>
<p>Go to your dashboard to give an answer to the invitation.</p>
<a href="{{dashboardUrl}}" class='cta-button'>GO TO DASHBOARD</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}