<h1>You've been invited to be a mentor on {{challengeName}}</h1>
<p>Welcome to TAIKAI. 👊</p>
<p>Someone invited you to be a mentor and participate in {{challengeName}}.</p>
<p>{{challengeName}} is a challenge organized by {{organizationName}}.</p>
<p>Mentors have a very important role in TAIKAI! You will have the possibility to make difference by helping  our  participants to create amazing solutions for this challenge.</p>
<p>Your participation in the event will be totally managed through our platform. There you can also consult the challenge rules at any moment. It is important that you agree and comply with them.</p>
<p>Once you finish your registration, we recommend you to update your biography and skills on TAIKAI. This will help the participants to find you and match the skills that they are looking for.</p>
<p>By clicking on the link below you are entering an amazing journey... good luck!</p>
<a href="{{inviteUrl}}" class='cta-button'>SIGNUP AND CONFIRM YOUR REGISTRATION</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}