<h1>You've been invited to participate on {{challengeName}}</h1>
<p>Hello there!</p>
<p>Are you ready to challenge yourself and participate in <strong>{{challengeName}}</strong> at <a href="https://taikai.network"><strong>TAIKAI</strong></a>? {{challengeName}} is a challenge organized by <strong>{{organizationName}}</strong>.</p>
<p>Now you can make a difference by creating a solution for this challenge and qualify for the prizes.</p>
<p>Your participation in the event will be totally managed through our platform. There you can also consult the challenge rules at any moment. It is important that you agree and comply with them.</p>
<p>Once you finish your registration, you'll be able to create your own project and add your team members.</p>
<p>By clicking on the link below you are entering an amazing journey... good luck!</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRM NOW</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}