<h1>You got mail</h1>
<p><strong>From:</strong> {{from}}</p>
<p><strong>Subject:</strong> {{topic}}</p>
<p>{{message}}</p>
<a href="{{threadUrl}}" class='cta-button'>REPLY</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{threadUrl}}">{{threadUrl}}</a>
{{{supportMsg}}}