<h1>{{organizationName}} application received</h1>
<p>Organization: {{organizationName}}</p>
<p>Description: {{description}}</p>
<p>Contact name: {{contactName}}</p>
<p>Email: {{email}}</p>
<p>Please evaluate the submission carefully.</p>