<h1>Congratulations! Your {{challengeName}}'s PoP was minted with success!</h1>
<p>Your <strong>{{challengeName}}'s</strong> PoP (Proof of Participation) is a fully customized proof of participation that you receive in your wallet based on your achievements in the hackathon.</p>
<p>You have just received a PoP for being <strong>{{participationMode}}</strong> on <strong>{{walletAddress}}</strong> address on Polygon POS network.</p>
<a href="{{nftExplorerLink}}" class='cta-button'>View on NFT Explorer</a>
<br/>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href="{{nftExplorerLink}}">{{nftExplorerLink}}</a></p>
<p>You can also view and share your PoP Gallery in your <a href="{{userProfile}}">TAIKAI Profile</a>.</p>
{{{supportMsg}}}