<h1>Congratulations! You're registered as a participant!</h1>
<p>You are registered as a <strong>participant</strong> on {{challengeName}}.</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{shortDescription}}</p>
<p>For more details, please click the button below.</p>
<a href="{{challengeUrl}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it into your browser:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}