<h1>Welcome to {{challengeName}}</h1>
<p>Hello {{fullName}},</p>
<p>Are you ready to create an amazing solution for {{challengeName}} in TAIKAI? Innovators have a very important role in TAIKAI! You will have the possibility to make a difference by creating a solution for this challenge and getting selected to win a prize.</p>
<p>For that reason, it is important that you agree and complies with the challenge rules, that you can consult any moment <a href="{{rulesLink}}">here</a>.</p>
<p>You confirm your registration as a participant and agree to the Challenge Rules by clicking on the link below.</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRM THE REGISTRATION</a>
<p>If you have any trouble, copy this URL and paste it into your browser:</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}