<h1>Lost your password?</h1>
<p>Hello {{username}}!</p>
<p>Have you lost your password on <a href="https://taikai.network">taikai.network</a>? To reset your password, please click on the button below.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>RECOVER MY PASSWORD</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
<br/>
{{{supportMsg}}}