<h1>Thank you for signing up!</h1>
<p>Hello {{username}},</p>
<p>Welcome to your journey on TAIKAI! To get started, please click below to activate your account. After that, you’ll be able to complete your profile on your Profile Page.</p>
<a href="{{confirmationLink}}" class='cta-button'>JOIN HERE</a>
<br />
{{{expirationMsg}}}
<p>
<a href="{{confirmationLink}}">{{{confirmationLink}}}</a>
</p>
{{{supportMsg}}}