<h1>Congratulations! Withdrawal Successful</h1>
<p>You have successful withdrawn <strong>{{amount}} TKAI</strong> to the address {{to}} at {{date}}.</p>
<a href="{{explorerLink}}" class='cta-button'>View on Block Explorer</a>
<br/>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href="{{explorerLink}}">{{explorerLink}}</a></p>
{{{supportMsg}}}