<h1>Sua conta foi validada</h1>
<p>Olá {{name}}!</p>
<p>Sua conta TAIKAI está agora validada e você está livre para usar todos os recursos que estão disponíveis em nossa economia. A validação da conta é um passo importante, pois permite que você resgate cupons TKAI, participe de recompensas TAIKAI, vote nas votações da multidão, ou receba recompensas indicando seus amigos.</p>
<p><strong>Convide seus amigos</strong> para se juntarem à TAIKAI e para cada um que se inscrever, você e seu amigo recebem <strong>{{amountReferred}} TKAIs.</strong> Por cada nível que você atinge você ganha TKAIs extras.</p>
<a href="{{referralSettingsUrl}}" class='cta-button'>OBTER LINK DE CONVITE</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{referralSettingsUrl}}">{{referralSettingsUrl}}</a>
{{{supportMsg}}}