<h1>Você está em uma equipe!</h1>
<p>Você foi adicionado(a) ao <strong>{{projectName}}</strong>  como membro do projeto para o desafio <strong>{{challengeName}}</strong>. Para obter mais detalhes, clique no botão abaixo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}