<h1>Você acabou de apoiar um projeto!</h1>
<p>Olá <strong>{{name}}!</strong></p>
<p>Transação de apoio de <strong>{{amount}} VKAIs</strong> no {{challengeName}} para <strong>{{projectName}}</strong> confirmada. Continue com a boa votação!</p>
{{{supportMsg}}}