<h1>Oh não! Seu apoio ao projeto falhou!</h1>
<p>Olá <strong>{{username}}!</strong></p>
<p>Apoio de <strong>{{amount}} VKAIs</strong> no {{challengeName}} para <strong>{{projectName}}</strong> falhou.</p>
<p>Por favor, tente novamente!</p>
{{{supportMsg}}}