<h1>Registro de inovador em análise</h1>
<p>Seu registro de inovador para o <strong>{{challengeName}}</strong> por <strong>{{organizationName}}</strong> está em análise. Assim que ele for aceite, você receberá um email de confirmação.</p>
<p>Para mais detalhes, favor ir à página do desafio.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}