<h1>Ficheiros de apresentação</h1>
<p>olá!</p> 
<p>Foi gerado um arquivo com as apresentações do desafio {{challengeName}}. O arquivo zip contém todos os .ppts, .pptx, .pdf e ficheiros de páginas.</p>
<a href="{{reportFile}}" class='cta-button'>DESCARREGAR TODOS</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{reportFile}}">{{reportFile}}</a>
{{{supportMsg}}}
