<h1>Oh não! Sua transferência de VKAIs no {{challengeName}} falhou!</h1>
<p>Olá <strong>{{username}}!</strong></p>
<p>Transferência de <strong>{{amount}} VKAIs</strong> no {{challengeName}} para <strong>{{to}}</strong> falhou.</p>
<p>Por favor, tente novamente!</p>
{{{supportMsg}}}