<h1>{{challengeName}} está em revisão</h1>
<p>Olá <strong>{{submitter}}</strong>!</p>
<p><strong>{{challengeName}}</strong> por <strong>{{organizationName}}</strong> será revisada e publicada assim que o conteúdo for apropriado para nossa comunidade.</p>
<p>Vá para sua página de <a href="{{link}}">desafio</a> para conferir como ela é. Lembre-se, a página só será pública quando o conteúdo do desafio for aceito pelos moderadores da TAIKAI.</p>
{{{supportMsg}}}