<h1>Você recebeu VKAIs no {{challengeName}}!</h1>
<p>Olá <strong>{{to}}!</strong></p>
<p>Transferência de <strong>{{amount}} VKAIs</strong> no {{challengeName}} de <strong>{{from}}</strong> recebida com sucesso. Use-os com sabedoria!</p>
{{{supportMsg}}}