<h1>{{challengeName}} foi publicado</h1>
<p>Parabéns, <strong>{{submitter}}</strong>!</p>
<p><strong>{{challengeName}}</strong> por <strong>{{organizationName}}</strong> foi publicado.</p>
<p>A partir de agora, você pode começar a promover o desafio e divulgar para o mundo todo. Vá até sua página de desafios para verificar como ela é.</p>
<p>Promova sua página do desafio com seu público, parceiros e amigos.</p>
<a href="{{link}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}