<h1>Você enviou VKAIs no {{challengeName}}!</h1>
<p>Olá <strong>{{from}}!</strong></p>
<p>Transferência de <strong>{{amount}} VKAIs</strong> no {{challengeName}} para <strong>{{to}}</strong> confirmada com sucesso. Muito bem!</p> 
{{{supportMsg}}}