<h1>{{challengeName}} enviado para revisão</h1>
<p>Nome: {{challengeName}}</p>
<p>Descrição: {{description}}</p>
<p>Autor: {{submitter}}</p>
<p>Email: {{email}}</p>
<p>Por favor, avalie a submissão com atenção.</p>