<h1>Temos um comunicado importante para você!</h1>
<p><strong>{{challengeName}}</strong></p>
<p>{{message}}</p>
<p>Para obter mais detalhes, clique no botão abaixo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}