<h1>Requerer o NFT</h1>
<p>Olá {{username}}!</p>
<p>O {{challengeName}} hackathon chegou ao fim e esperamos que você tenha gostado e estamos ansiosos por vê-lo novamente no próximo.</p>
<p>Estamos contentes em poder oferecer um NFT exclusivo e gerado automaticamente com base nos seus dados do hackathon.</p>
<p><strong>Como requerer o NFT?</strong></p>
<p>Na página do hackathon, na barra lateral esquerda, você encontrará um botão abaixo do título do hackathon com um guia simples de passo a passo para reivindicá-lo.</p>

<a href="{{base_url}}{{token}}" class='cta-button'>REQUERER NFT</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
{{{supportMsg}}}