<h1>Esqueceu sua senha?</h1>
<p>Olá {{username}}!</p>
<p>Bem-vindo à sua jornada no TAIKAI. Parece que você redefiniu sua senha, mas ainda não ativou sua conta. Para ativá-la e recuperar sua senha, clique no botão abaixo.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>ATIVAR CONTA E RECUPERAR SENHA</a>
{{expirationMsg}}
<p><a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a></p>
<p>Se não fez este pedido, por favor ignore este email.</p>
{{{supportMsg}}}