<h1>Você recebeu TKAIs!</h1>
<p>Olá <strong>{{to}}!</strong></p>
<p>Você acabou de receber um depósito de <strong>{{amount}} TKAIs</strong> vindo do endereço <strong>{{from}}</strong>.</p>
<p>Use-os com sabedoria!</p>
<p>Veja a transaction na blockchain explorer:</p>
<a href="{{blockchainLink}}" class='cta-button'>Ver no Block Explorer</a>
<p>Se tiver algum problema, copie este URL e cole no seu browser:</p>
<p><a href="{{blockchainLink}}">{{blockchainLink}}</a></p>
{{{supportMsg}}}
