<h1>Parabéns! O seu feedback PoP do {{challengeName}} foi mintado com sucesso!</h1>
<p>O feedback PoP (Proof of Participation) do <strong>{{challengeName}}</strong> é uma prova de participação totalmente personalizada que você recebe em sua carteira por nos ajudar a melhorar nossa plataforma com base no seu feedback.</p>
<p>Você recebeu seu PoP no seu endereço <strong>{{walletAddress}}</strong> na rede Polygon POS.</p>
<a href='{{nftExplorerLink}}' class='cta-button'>Ver no Explorador de NFTs</a>
<br />
<p>Se tiver algum problema, copie este URL e cole no seu browser:</p>
<p><a href='{{nftExplorerLink}}'>{{nftExplorerLink}}</a></p>
<p>Você pode ver e partilhar a sua galeria de PoPs no seu <a href='{{userProfile}}'>Perfil TAIKAI</a>.</p>
{{{supportMsg}}}