<h1>Recebeu uma indicação de um amigo</h1>
<p>Bem-vindo à <strong>TAIKAI!</strong></p>
<p>Você recebeu uma indicação de amizade de <strong>{{from}}</strong> para se inscrever na TAIKAI.</p>
<p>Com o link de indicação abaixo o seu amigo e depois de você se cadastrar na TAIKAI e confirmar sua conta, seu amigo ganhará <strong>{{amountReferrer}} TKAIs</strong> e você ganhará <strong>{{amountReferred}} TKAIs.</strong></p>
<p>A TAIKAI lhe dá as boas-vindas para participar em hackathons e desafios de inovação como um inovador ou como avaliador de projetos.</p>
<p>Para mais detalhes sobre nós visite a nossa <a href="https://taikai.network">página</a>.</p>
<a href="{{referUrl}}" class='cta-button'>REGISTRAR</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{referUrl}}" class='cta-button'>{{referUrl}}</a>
{{{supportMsg}}}



