<h1>Você foi convidado para uma equipe</h1>
<p>Olá!</p>
<p>Temos um papel importante esperando por você! Você recebeu um convite para se juntar à equipe de projeto <strong>{{projectName}}</strong> no desafio <strong>{{challengeName}}</strong>.</p>
<p>Como membro do projeto você pode atualizar a descrição do projeto, gerenciar os membros da equipe e carregar os anexos de seu projeto.</p>
<p>Para aceitar o convite, clique no botão abaixo e você será adicionado automaticamente à equipe depois de se registrar no desafio <strong>{{challengeName}}</strong></p>
<a href="{{dashboardUrl}}" class='cta-button'>ACEITAR CONVITE</a>
{{{expirationMsg}}}
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}


