<h1>Você foi convidado(a) a fazer parte do(a) {{organizationName}}</h1>
<p>Olá <strong>{{username}}</strong>, você foi convidado(a) para fazer parte do(a) {{organizationName}} na <a href="https://taikai.network">TAIKAI</a>.</p>
<p>Um pequeno passo para você, um grande passo na inovação de sua organização. Agora você poderá compartilhar os desafios de sua organização com nossa comunidade e editar todas as informações sobre sua organização.</p>
<p>Para aceitar o convite, clique no botão abaixo.</p>
<a href="{{inviteUrl}}" class='cta-button'>ATIVAR SUA CONTA</a>
{{{expirationMsg}}}
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}
