<h1>Você foi convidado(a) a ser um(a) júri no {{challengeName}}</h1>
<p>Olá, pronto para votar? Você foi convidado a escolher os melhores projetos no {{challengeName}} na <a href="{{frontendUrl}}">TAIKAI</a>!</p>
<p>Os júri têm muito poder em nossa plataforma, pois são eles que decidem quais são os projetos mais inovadores. Nós lhe damos as moedas VKAI, você só precisa votar.</p>
<p>Para aceitar o convite, clique no botão abaixo.</p>
<a href="{{inviteUrl}}" class='cta-button'>ACEITAR CONVITE</a>
{{{expirationMsg}}}
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}