<h1>Convite para participante no {{challengeName}}</h1>
<p>Olá</p>
<p>Você está pronto para desafiar a si mesmo e participar no desafio <strong>{{challengeName}}</strong> na <a href="https://taikai.network"><strong>TAIKAI</strong></a>? {{challengeName}} é um desafio organizado pela <strong>{{organizationName}}</strong>.</p>
<p>Agora você terá a possibilidade de fazer a diferença, criando uma solução para este desafio e se qualificando para ganhar os prémios.</p>
<p>Sua participação no evento será totalmente administrada através de nossa plataforma. Lá você também pode consultar as regras do desafio a qualquer momento. É importante que você concorde e cumpra com elas.</p>
<p>Uma vez terminado seu cadastro, você poderá criar seu próprio projeto e adicionar membros à sua equipe.</p>
<p>Ao clicar no link abaixo você está ingressando uma incrível jornada... Boa sorte!</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMAR</a>
<p>Se você tiver algum problema, copie este URL e cole no seu navegador:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}