<h1>Convite para mentor no {{challengeName}}</h1>
<p>Olá!</p>
<p>Você está pronto para ser mentor de projetos com as suas habilidades ninja no {{challengeName}}?</p>
<p>{{challengeName}} é um desafio organizado pela <strong>{{organizationName}}.</strong></p>
<p>Os mentores têm um papel muito importante no TAIKAI! Você terá a oportunidade de fazer a diferença, ajudando os nossos inovadores a criar projetos surpreendentes. </p>
<p>Sua participação no evento será totalmente administrada através de nossa plataforma. Lá você também pode consultar as regras do desafio a qualquer momento. É importante que você concorde e cumpra com elas.</p>
<p>Uma vez terminado seu cadastro, atualize sua biografia e habilidades na TAIKAI. Isso ajudará os inovadores a encontrar você e o perfil que eles procuram.</p>
<p>Ao clicar no link abaixo você está ingressando uma incrível jornada... Boa sorte!</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMAR</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}