<h1>Você foi convidado(a) a ser um(a) júri no {{challengeName}}</h1>
<p>Olá, pronto para investir? Você foi convidado a escolher os melhores projetos no {{challengeName}} na <a href="https://taikai.network">TAIKAI</a>!</p>
<p>Os apoiadores têm muito poder em nossa plataforma, pois são eles que decidem quais são os projetos mais inovadores. Nós lhe damos as moedas TKAI, você só precisa votar.</p>
<p>Para aceitar o convite, clique no botão abaixo.</p>
<a href="{{inviteUrl}}" class='cta-button'>ACEITAR CONVITE</a>
{{{expirationMsg}}}
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}

