<h1>Você foi convidado para uma equipe</h1>
<p>Olá <strong>{{to}}!</strong></p>
<p>Temos um papel importante esperando por você! Você recebeu um convite para se juntar à equipe de projeto <strong>{{projectName}}</strong> no desafio <strong>{{challengeName}}</strong>.</p>
<p>Como membro do projeto você pode atualizar a descrição do projeto, gerenciar os membros da equipe e carregar os anexos de seu projeto.</p>
<p>Vá até seu painel de controle para responder ao convite.</p>
<a href="{{dashboardUrl}}" class='cta-button'>IR PARA PAINEL DE CONTROLO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}

