<h1>Você recebeu uma mensagem</h1>
<p><strong>De:</strong> {{from}}</p>
<p><strong>Assunto:</strong> {{topic}}</p>
<p>{{message}}</p>
<a href="{{threadUrl}}" class='cta-button'>RESPONDER</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{threadUrl}}">{{threadUrl}}</a>
{{{supportMsg}}}