<h1>Sua compra no mercado da TAIKAI de {{productName}}</h1>
<p>Olá, {{username}}!</p>
<p>Obrigado por seu pedido. Você pode verificar os detalhes do pedido abaixo:</p>
<p><strong>{{productName}}</strong></p>
<p>Preço: {{itemPrice}} TKAIs</p>
<p>Quantidade: {{orderQuantity}}</p>
<p>{{#if itemSize}}Tamanho: {{itemSize}}{{/if}}</p>
<div style="font-family: inherit; text-align: right"><span style="font-weight: bold">Total: {{orderTotal}} TKAIs</span></div>
{{{supportMsg}}}