<h1>{{organizationName}} será revisada</h1>
<p>Olá <strong>{{submitter}}</strong>!</p>
<p>Você enviou com sucesso uma nova organização para a TAIKAI. <strong>{{organizationName}}</strong> será revisada e publicada assim que o conteúdo for apropriado para nossa comunidade.</p>
<p>Uma organização é um stakeholder especial em nossa comunidade, uma vez que pode lançar hackathons ou abrir desafios de inovação para nossa rede de inovadores. Vá para a página de sua <a href="{{link}}">organization</a> para verificar como é a página de sua organização. Lembre-se, a página só será pública quando a organização for aceita pelos moderadores da TAIKAI.</p>
{{{supportMsg}}}