<h1>Candidatura da {{organizationName}} recebida</h1>
<p>Organização: {{organizationName}}</p>
<p>Descrição: {{description}}</p>
<p>Nome de contacto: {{contactName}}</p>
<p>Email: {{email}}</p>
<p>Por favor, avalie a submissão com atenção.</p>