<h1>{{organizationName}} foi publicada</h1>
<p>Parabéns, <strong>{{submitter}}!</strong></p>
<p><strong>{{organizationName}}</strong> foi publicada.</p>
<p>Uma organização é um stakeholder especial em nossa comunidade, uma vez que pode lançar hackathons ou abrir desafios de inovação para nossa rede de inovadores. Vá para a página de sua organização para verificar como é a página de sua organização.</p>
<p>Compartilhe sua página da organização dentro de sua organização, parceiros e amigos.</p>
<a href="{{link}}" class='cta-button'>PÁGINA DA ORGANIZAÇÃO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}