<h1>Sua participação foi aceite!</h1>
<p>Você é oficialmente um participante no <strong>{{challengeName}}</strong> e já pode começar a criar projetos com seus amigos.</p>
<p>Por favor, vá para a página do desafio, crie seu projeto e reúna os membros de seu projeto.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}