<h1>Parabéns! Você foi registrado como um participante!</h1>
<p>Você está registrado como um <strong>participantW</strong> no {{challengeName}}.</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{shortDescription}}</p>
<p>Para obter mais detalhes, clique no botão abaixo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}

