<h1>Bem-vindo(a) ao {{challengeName}}</h1>
<p>Olá {{fullName}}!</p>
<p>Você gostaria de escolher os projetos mais inovadores do {{challengeName}} na TAIKAI? Ser um Apoiador significa que você pode influenciar o resultado final de um desafio e selecionar qual equipe ganha o prémio. Nós lhe damos VKAIs, você só precisa investir!</p>
<p>Por esse motivo, é importante que você concorde e cumpra as regras do desafio que você pode consultar a qualquer momento <a href="{{rulesLink}}">aqui</a>.</p>
<p>Ao clicar no link abaixo, você está confirmando seu registro como Apoiador e concordando com as Regras do Desafio.</p>
<a href="{{inviteUrl}}" class='cta-button'>REGISTRAR COMO JÚRI</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}

