<h1>Bem-vindo(a) ao {{challengeName}}</h1>
<p>Olá {{fullName}},</p>
<p>Você está pronto para criar uma solução surpreendente no {{challengeName}} na TAIKAI? Os inovadores têm um papel muito importante no TAIKAI! Você terá a oportunidade de fazer a diferença, criando uma solução para este desafio e podendo ser selecionado para ganhar o prémio.</p>
<p>Por esse motivo, é importante que você concorde e cumpra as regras do desafio que você pode consultar a qualquer momento <a href="{{rulesLink}}">aqui</a>.</p>
<p>Ao clicar no link abaixo, você está confirmando seu registro como Apoiador e concordando com as Regras do Desafio.</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMAR REGISTRO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}

