<h1>Parabéns! Você foi registrado como um júri convidado!</h1>
<p>Você está registrado como um <strong>Júri convidado</strong> na fase {{votingTrackName}} do desafio:.</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{challengeDescription}}</p>
<p>Para ter acesso ao desafio como um júri, deverá utilizar o link abaixo,
Você não precisa criar uma conta, basta usar o link deste e-mail, ele contém um token secreto;
por motivos de segurança não compartilhe este link com ninguém. Por favor, clique no botão abaixo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DO DESAFIO</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}