<h1>Esqueceu sua senha?</h1>
<p>Olá {{username}}!</p>
<p>Você esqueceu sua senha no <a href="https://taikai.network">taikai.network</a>? Para redefinir sua senha, clique no botão abaixo.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>RECUPERAR MINHA SENHA</a>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
{{{supportMsg}}}