<h1>Confirme o seu novo email</h1>
<p>Olá {{username}},</p>
<p>Por favor, confirme que este é o seu novo endereço de email associado à sua conta na TAIKAI.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>CONFIRMAR EMAIL</a>
<br />
{{{expirationMsg}}}
<p>
<a href="{{base_url}}{{token}}">{{{base_url}}}{{{token}}}</a>
</p>
{{{supportMsg}}}