<h1>Bem-vindo(a) à TAIKAI!</h1>
<p>Olá {{username}},</p>
<p>Bem-vindo(a) à sua jornada na TAIKAI! Para começar, clique abaixo para ativar sua conta. Depois, você poderá completar seu perfil em sua página de perfil.</p>
<a href="{{confirmationLink}}" class='cta-button'>ATIVAR SUA CONTA</a>
<br />
{{{expirationMsg}}}
<p>
<a href="{{confirmationLink}}">{{{confirmationLink}}}</a>
</p>
{{{supportMsg}}}