<h1>Parabéns! Saque bem-sucedido</h1>
<p>Você retirou com sucesso <strong>{{amount}} TKAI</strong> para o endereço {{to}} em {{date}}.</p>
<a href="{{explorerLink}}" class='cta-button'>Ver no explorador de blocos</a>
<br/>
<p>Se você tiver algum problema, copie esta URL e a cole em seu navegador:</p>
<p><a href="{{explorerLink}}">{{explorerLink}}</a></p>
{{{supportMsg}}}