<h1>Tu cuenta está ahora validada</h1>
<p>¡Hola {{name}}!</p>
<p>Tu cuenta de TAIKAI está ahora validada y puedes utilizar todas las características disponibles en nuestra plataforma. La validación de la cuenta es un paso importante en el proceso de incorporación, ya que te permite canjear vales de TKAI, participar en recompensas de TAIKAI, votar en votaciones de la comunidad y obtener recompensas al referir a tus amigos.</p>
<p><strong>Invita a tus amigos</strong> a unirse a TAIKAI y, por cada uno que se registre, tú y tu amigo recibirán <strong>{{amountReferred}} TKAIs.</strong> Por cada nivel que alcances, ganarás TKAIs adicionales.</p>
<a href="{{referralSettingsUrl}}" class='cta-button'>OBTENER ENLACE DE INVITACIÓN</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{referralSettingsUrl}}">{{referralSettingsUrl}}</a>
{{{supportMsg}}}