<h1>¡Estás en un equipo!</h1>
<p>Fuiste añadido a <strong>{{projectName}}</strong> como miembro del proyecto para el desafío <strong>{{challengeName}}</strong>. Para obtener más detalles, por favor haz clic en el botón de abajo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}