<h1>¡Oh no! ¡Tu respaldo al proyecto falló!</h1>
<p>¡Hola <strong>{{username}}!</strong></p>
<p>El respaldo de <strong>{{amount}} VKAIs</strong> en {{challengeName}} para <strong>{{projectName}}</strong> ha fallado.</p>
<p>¡Por favor, inténtalo nuevamente!</p>
{{{supportMsg}}}