<h1>¡Acabas de respaldar un proyecto!</h1>
<p>¡Hola <strong>{{name}}!</strong></p>
<p>El respaldo de <strong>{{amount}} VKAIs</strong> en {{challengeName}} para <strong>{{projectName}}</strong> ha sido confirmado. ¡Sigue votando de manera excelente!</p>
{{{supportMsg}}}