<h1>{{challengeName}} se ha publicado</h1>
<p>Congrats, <strong>{{submitter}}</strong>!</p>
<p><strong>{{challengeName}}</strong> por <strong>{{organizationName}}</strong> se ha publicado.</p>
<p>A partir de ahora, puedes comenzar a promover el desafío y difundir la palabra al respecto. Ve a la página de tu desafío para comprobar cómo se ve.</p>
<p>Promociona tu página de desafío entre tu audiencia, socios y amigos.</p>
<a href="{{link}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}