<h1>{{challengeName}} submitted to be reviewed</h1>
<p>Name: {{challengeName}}</p>
<p>Description: {{description}}</p>
<p>Submitter: {{submitter}}</p>
<p>Email: {{email}}</p>
<p>Please evaluate the submission carefully.</p>