<h1>{{challengeName}} está bajo revisión</h1>
<p>¡Hola <strong>{{submitter}}</strong>!</p>
<p><strong>{{challengeName}}</strong> por <strong>{{organizationName}}</strong> será revisado y publicado tan pronto como el contenido sea apropiado para nuestra comunidad.</p>
<p>Ve a tu <a href="{{link}}">página de desafío</a> para comprobar cómo se ve. Recuerda que la página solo será pública una vez que el contenido del desafío sea aceptado por los moderadores de TAIKAI.</p>
{{{supportMsg}}}