<h1>¡Tenemos un anuncio importante para ti!</h1>
<p><strong>{{challengeName}}</strong></p>
<p>{{message}}</p>
<p>Para más detalles, por favor haz clic en el botón de abajo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>ISi tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}