<h1>Obtuviste VKAIs en {{challengeName}}!</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>Transferencia de <strong>{{amount}} VKAIs</strong> en {{challengeName}} de <strong>{{from}}</strong> recibido con éxito. ¡Úsalos sabiamente!</p>
{{{supportMsg}}}