<h1>¡Enviaste VKAIs en {{challengeName}}!</h1>
<p>¡Hola <strong>{{from}}!</strong></p>
<p>La transferencia de <strong>{{amount}} VKAIs</strong> en {{challengeName}} a <strong>{{to}}</strong> se ha confirmado con éxito. ¡Bien hecho!</p> 
{{{supportMsg}}}