<h1>¡Oh no! ¡Tu transferencia de VKAIs en {{challengeName}} ha fallado!</h1>
<p>¡Hola <strong>{{username}}!</strong></p>
<p>La transferencia de <strong>{{amount}} VKAIs</strong> en {{challengeName}} a <strong>{{to}}</strong> ha fallado.</p>
<p>¡Por favor, inténtalo de nuevo!</p>
{{{supportMsg}}}