<h1>El registro del innovador está bajo revisión</h1>
<p>Tu registro como participante para <strong>{{challengeName}}</strong> por <strong>{{organizationName}}</strong> está bajo revisión. Tan pronto como sea aceptado, recibirás un correo electrónico de confirmación.</p>
<p>Para obtener más detalles, por favor ve a la página del desafío.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}