<h1>{{challengeName}} presentado para su revisión</h1>
<p>Nombre: {{challengeName}}</p>
<p>Descripción: {{description}}</p>
<p>Presntado por: {{submitter}}</p>
<p>Correo electrónico: {{email}}</p>
<p>Por favor, evalúa la presentación con cuidado.</p>