<h1>Archivos de presentación</h1>
<p>¡Hola!</p> 
<p>Se generó un archivo de paquete de presentación del desafío {{challengeName}}. El archivo zip contiene todos los archivos .ppts, .pptx, .pdf y de páginas del proyecto.</p>
<a href="{{reportFile}}" class='cta-button'>DESCARGAR TODO</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{reportFile}}">{{reportFile}}</a>
{{{supportMsg}}}
