<h1>Oh no! Your VKAIs transfer on {{challengeName}} failed!</h1>
<p>Hello <strong>{{username}}!</strong></p>
<p>Transfer of <strong>{{amount}} VKAIs</strong> in {{challengeName}} to <strong>{{to}}</strong> failed.</p>
<p>Please try again!</p>
{{{supportMsg}}}