<h1>{{challengeName}} - {{title}}</h1>
<p>{{{update}}}</p>
<p>Para obtener más detalles, por favor haz clic en el botón de abajo.</p>
<a href="{{updatesUrl}}" class='cta-button'>SABER MÁS</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{updatesUrl}}">{{updatesUrl}}</a>
{{{supportMsg}}}