<h1>Reclama tu NFT</h1>
<p>¡Hola {{username}}!</p>
<p>El hackathon {{challengeName}} ha llegado a su fin, y esperamos que lo hayas disfrutado y estés deseando verte de nuevo en el próximo.</p>
<p>Estamos emocionados de brindarte un NFT exclusivo generado automáticamente basado en tus datos del hackathon.</p>
<p><strong>¿Cómo reclamar tu NFT?</strong></p>
<p>Ve a la página del hackathon y en la barra lateral izquierda encontrarás un botón debajo del título del hackathon con una guía paso a paso para reclamarlo.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>RECLAMAR NFT</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
{{{supportMsg}}}