<h1>¿Olvidaste tu contraseña?</h1>
<p>¡Hola {{username}}!</p>
<p>¡Bienvenido a tu viaje en TAIKAI! Parece que has restablecido tu contraseña, pero aún no has activado tu cuenta. Para activarla y recuperar tu contraseña, haz clic en el botón de abajo.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>ACTIVAR LA CUENTA Y RECUPERAR TU CONTRASEÑA</a>
{{{expirationMsg}}}
<p><a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a></p>
<p>Si no hiciste esta solicitud, por favor ignora este correo electrónico.</p>
{{{supportMsg}}}