<h1>¡Has recibido TKAIs!</h1>
<p>¡Hola <strong>{{username}}!</strong></p>
<p>Has recibido un depósito de <strong>{{amount}} TKAI</strong> de la dirección <strong>{{from}}</strong>.</p>
<p>¡Por favor, úsalos sabiamente!</p>
<p>Revisa la transacción en el explorador de bloques:</p>
<a href="{{blockchainLink}}" class='cta-button'>Ver en el Explorador de Bloques</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href="{{blockchainLink}}">{{blockchainLink}}</a></p>
{{{supportMsg}}}
