<h1>¡Enhorabuena! ¡Tu PoP de retroalimentación para el {{challengeName}} se minteó con éxito!</h1>
<p>Tu PoP (Prueba de Participación) de retroalimentación de <strong>{{challengeName}}</strong> es una prueba de participación completamente personalizada que recibes en tu billetera por ayudarnos a mejorar nuestra plataforma mediante tus comentarios.</p>
<p>Acabas de recibirlo en la dirección <strong>{{walletAddress}}</strong> en la red Polygon POS.</p>
<a href='{{nftExplorerLink}}' class='cta-button'>Ver en el explorador de NFT</a>
<br />
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href='{{nftExplorerLink}}'>{{nftExplorerLink}}</a></p>
<p>También puedes ver y compartir tu Galería PoP en tu <a href='{{userProfile}}'>Perfil de TAIKAI</a>.</p>
{{{supportMsg}}}