<h1>Has recibido una referencia de un amigo</h1>
<p>¡Bienvenido a <strong>TAIKAI!</strong></p>
<p>Has recibido una referencia de {{from}} para registrarte en TAIKAI.</p>
<p>Con el enlace de referencia a continuación y después de registrarte y validar tu cuenta en TAIKAI, tu amigo ganará <strong>{{amountReferrer}} TKAIs</strong> y tu ganarás <strong>{{amountReferred}} TKAIs.</strong></p>
<p>TAIKAI te da la bienvenida a participar en hackathons y desafíos de innovación abierta, ya sea como participante o como evaluador de proyectos.</p>
<p>Para obtener más detalles sobre nosotros, visita nuestro <a href="https://taikai.network">sitio web</a>.</p>
<a href="{{referUrl}}" class='cta-button'>REGÍSTRATE</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{referUrl}}" >{{referUrl}}</a>
<br/>
{{{supportMsg}}}