<h1>You received a friend referral</h1>
<p>Welcome to <strong>TAIKAI!</strong></p>
<p>You received a friend referral from <strong>{{from}}</strong> to signup on TAIKAI.</p>
<p>With the referral link below your friend and after you signed up on TAIKAI and validate your account your friend will earn <strong>{{amountReferrer}} TKAIs</strong> and you will earn <strong>{{amountReferred}} TKAIs.</strong></p>
<p>TAIKAI welcomes you to participate in hackathons and open innovation challenge, either as a participant or as project evaluator.</p>
<p>For more details about us go to our <a href="https://taikai.network">website</a>.</p>
<a href="{{referUrl}}" class='cta-button'>SIGN UP</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{referUrl}}" >{{referUrl}}</a>
<br/>
{{{supportMsg}}}