<h1>You've been invited to a team</h1>
<p>Hello!</p>
<p>We have an important role waiting for you! You received an invitation to join <strong>{{projectName}}</strong> team on challenge <strong>{{challengeName}}</strong>.</p>
<p>As a project member you can update the project description, manage the team membership and upload attachments to your project.</p>
<p>To accept the invite, please click the button below, and you will be automatically added to the team after you register in the <strong>{{challengeName}}</strong> hackathon</p>.
<a href="{{dashboardUrl}}" class='cta-button'>ACCEPT INVITE</a>
{{{expirationMsg}}}
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}
