<h1>Has sido invitado a un equipo</h1>
<p>¡Hola <strong>{{to}}!</strong></p>
<p>Tenemos un papel importante esperándote. Has recibido una invitación para unirte al equipo <strong>{{projectName}}</strong> en el desafío <strong>{{challengeName}}</strong>.</p>
<p>Como miembro del proyecto, puedes actualizar la descripción del proyecto, gestionar la membresía del equipo y cargar archivos adjuntos a tu proyecto.</p>
<p>Ve a tu panel de control para responder a la invitación.</p>
<a href="{{dashboardUrl}}" class='cta-button'>IR AL PANEL DE CONTROL</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}