<h1>Has sido invitado a participar en {{challengeName}}</h1>
<p>¡Hola!</p>
<p>¿Estás listo para ser mentor de proyectos de {{challengeName}} con tus habilidades ninja?</p>
<p>{{challengeName}} es un desafío organizado po {{organizationName}}.</p>
<p>Los mentores tienen un papel muy importante en TAIKAI. Tendrás la posibilidad de marcar la diferencia ayudando a nuestros participantes a crear soluciones increíbles para este desafío.</p>
<p>Tu participación en el evento será gestionada completamente a través de nuestra plataforma. Allí también puedes consultar las reglas del desafío en cualquier momento. Es importante que estés de acuerdo y las cumplas.</p>
<p>Una vez que hayas completado tu registro, te recomendamos que actualices tu biografía y habilidades en TAIKAI. Esto ayudará a los participantes a encontrarte y coincidir contigo en función de las habilidades que están buscando.</p>
<p>Al hacer clic en el enlace de abajo, estás comenzando un increíble viaje... ¡Buena suerte!</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMA AHORA</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}