<h1>Has sido invitado a un equipo</h1>
<p>¡Hola!</p>
<p>Tenemos un papel importante esperándote. Has recibido una invitación para unirte al equipo <strong>{{projectName}}</strong> en el desafío <strong>{{challengeName}}</strong>.</p>
<p>Como miembro del equipo, puedes actualizar la descripción del proyecto, gestionar la membresía del equipo y cargar archivos adjuntos a tu proyecto.</p>
<p>Para aceptar la invitación, haz clic en el botón de abajo, y serás automáticamente agregado al equipo después de registrarte en el hackathon <strong>{{challengeName}}</strong></p>.
<a href="{{dashboardUrl}}" class='cta-button'>ACEPTAR INVITACIÓN</a>
{{{expirationMsg}}}
<p><a href="{{dashboardUrl}}">{{dashboardUrl}}</a></p>
{{{supportMsg}}}
