<h1>Has sido invitado a ser jurado en {{challengeName}}</h1>
<p>¡Hola! ¿Listo para invertir? Has sido invitado a elegir los mejores proyectos en {{challengeName}} en TAIKAI</p>
<p>Los patrocinadores tienen mucho poder en nuestra plataforma, ya que son quienes deciden cuáles son los proyectos más innovadores. Te otorgamos tokens VKAI, solo necesitas votar.</p>
<p>Para aceptar la invitación, por favor haz clic en el botón de abajo</p>
<a href="{{inviteUrl}}" class='cta-button'>ACEPTAR INVITACIÓN</a>
{{{expirationMsg}}}
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}