<h1>Has sido invitado a ser mentor en {{challengeName}}</h1>
<p>Bienvenido a TAIKAI. 👊</p>
<p>Alguien te invitó a ser mentor y participar en {{challengeName}}.</p>
<p>{{challengeName}} es un desafío organizado por {{organizationName}}</p>
<p>
¡Los mentores tienen un papel muy importante en TAIKAI! Tendrás la posibilidad de marcar la diferencia ayudando a nuestros participantes a crear soluciones asombrosas para este desafío..</p>
<p>Tu participación en el evento se gestionará completamente a través de nuestra plataforma. Allí también puedes consultar las reglas del desafío en cualquier momento. Es importante que las aceptes y las cumplas.</p>
<p>Una vez que completes tu registro, te recomendamos que actualices tu biografía y habilidades en TAIKAI. Esto ayudará a los participantes a encontrarte y hacer coincidir las habilidades que están buscando.</p>
<p>Al hacer clic en el enlace a continuación, te embarcas en un viaje increíble... ¡Buena suerte!</p>
<a href="{{inviteUrl}}" class='cta-button'>REGÍSTRATE Y CONFIRMA TU REGISTRO</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}