<h1>Has sido invitado a formar parte de {{organizationName}}</h1>
<p>¡Hola {{name}}!</p>
<p>Te han invitado a unirte a {{organizationName}} en TAIKAI. Un pequeño paso para ti, un gran paso en la innovación de tu organización. Ahora podrás compartir los desafíos de tu organización con nuestra comunidad y editar toda la información sobre tu organización.</p>
<a href="{{inviteUrl}}" class='cta-button'>ACEPTAR INVITACIÓN</a>
{{{expirationMsg}}}
<p><a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a></p>
{{{supportMsg}}}