<h1>You've been invited to be a jury on {{challengeName}}</h1>
<p>Hello there, ready to invest? You got invited to choose the best projects on {{challengeName}} in <a href="{{frontendUrl}}">TAIKAI</a>!</p>
<p>Backers have a lot of power in our platform, as they are the ones that decide which are the most innovative projects. We give you VKAI tokens, you just need to vote.</p>
<p>To accept the invite, please click the button below.</p>
<a href="{{inviteUrl}}" class='cta-button'>ACCEPT INVITE</a>
{{{expirationMsg}}}
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}