<h1>Has sido invitado a participar en {{challengeName}}</h1>
<p>¡Hola!</p>
<p>¿Estás listo para desafiarte a ti mismo y participar en <strong>{{challengeName}}</strong> en <a href="https://taikai.network"><strong>TAIKAI</strong></a>? {{challengeName}} es un desafío organizado por <strong>{{organizationName}}</strong>.</p>
<p>Ahora puedes marcar la diferencia creando una solución para este desafío y calificar para los premios.</p>
<p>Tu participación en el evento se gestionará completamente a través de nuestra plataforma. Allí también puedes consultar las reglas del desafío en cualquier momento. Es importante que estés de acuerdo y cumplas con ellas.</p>
<p>Una vez que termines tu registro, podrás crear tu propio proyecto y agregar a los miembros de tu equipo.</p>
<p>Al hacer clic en el enlace a continuación, estás embarcando en un viaje increíble... ¡Buena suerte!</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMAR AHORA</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<p><a href="{{inviteUrl}}">{{inviteUrl}}</a></p>
{{{supportMsg}}}