<h1>Tienes un correo</h1>
<p><strong>De:</strong> {{from}}</p>
<p><strong>Asunto:</strong> {{topic}}</p>
<p>{{message}}</p>
<a href="{{threadUrl}}" class='cta-button'>RESPONDER</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{threadUrl}}">{{threadUrl}}</a>
{{{supportMsg}}}