<h1>Tu pedido en el TAIKAI Marketplace de {{productName}}</h1>
<p>¡Hola, {{username}}!</p>
<p>Gracias por tu pedido. Puedes ver los detalles del pedido a continuación:</p>
<p><strong>{{productName}}</strong></p>
<p>Precio: {{itemPrice}} TKAIs</p>
<p>Cantidad: {{orderQuantity}}</p>
<p>{{#if itemSize}}Tamaño: {{itemSize}}{{/if}}</p>
<div style="font-family: inherit; text-align: right"><span style="font-weight: bold">Total: {{orderTotal}} TKAIs</span></div>
{{{supportMsg}}}