<h1>Your TAIKAI Marketplace order of {{productName}}</h1>
<p>Hello, {{username}}!</p>
<p>Thanks for your order. You can see the order details below:</p>
<p><strong>{{productName}}</strong></p>
<p>Price: {{itemPrice}} TKAIs</p>
<p>Quantity: {{orderQuantity}}</p>
<p>{{#if itemSize}}Size: {{itemSize}}{{/if}}</p>
<div style="font-family: inherit; text-align: right"><span style="font-weight: bold">Total: {{orderTotal}} TKAIs</span></div>
{{{supportMsg}}}