<h1>{{organizationName}} se ha publicado</h1>
<p>¡Felicidades, <strong>{{submitter}}!</strong></p>
<p><strong>{{organizationName}}</strong> se ha publicado.</p>
<p>Una organización es un actor especial en nuestra comunidad, ya que puede lanzar hackathons o desafíos de innovación abierta a nuestra red de participantes. Ve a la página de tu organización para comprobar cómo se ve la página de la organización.</p>
<p>Comparte la página de tu organización con tu organización, tus socios y tus amigos.</p>
<a href="{{link}}" class='cta-button'>PÁGINA DE LA ORGANIZACIÓN</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}