<h1>{{organizationName}} está bajo revisión</h1>
<p>¡Hola <strong>{{submitter}}</strong>!</p>
<p>Has enviado con éxito una nueva organización a TAIKAI. {{organizationName}} será revisada y publicada tan pronto como el contenido sea apropiado para nuestra comunidad.</p>
<p>Una organización es una parte especial en nuestra comunidad ya que puede lanzar hackathons o desafíos de innovación abierta a nuestra red de participantes. Ve a tu <a href="{{link}}">página de organización</a> para ver cómo luce. Recuerda, la página será pública solo una vez que la organización sea aceptada por los moderadores de TAIKAI.</p>
{{{supportMsg}}}