<h1>{{organizationName}} got published</h1>
<p>Congrats, <strong>{{submitter}}!</strong></p>
<p><strong>{{organizationName}}</strong> got published.</p>
<p>An organization is a special stakeholder on our community since it can launch hackathons or open innovation challenges to our network of participants. Go to your orgnization page to check how the organization page looks.</p>
<p>Share your organization page within your organization, partners and friends.</p>
<a href="{{link}}" class='cta-button'>ORGANIZATION PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{link}}">{{link}}</a>
{{{supportMsg}}}