<h1>{{organizationName}} is under review</h1>
<p>Hello <strong>{{submitter}}</strong>!</p>
<p>You've successfully submitted a new organization to TAIKAI. {{organizationName}} is going to be reviewed and published as soon as the content is appropriate to our community.</p>
<p>An organization is a special stakeholder on our community since it can launch hackathons or open innovation challenges to our network of participants. Go to your <a href="{{link}}">organization</a> page to check how the organization page looks. Remember, the page will be only public once the organization is accepted by TAIKAI moderators.</p>
{{{supportMsg}}}