<h1>{{organizationName}} aplicación recibida.</h1>
<p>Organización: {{organizationName}}</p>
<p>Descripción: {{description}}</p>
<p>Nombre de contacto: {{contactName}}</p>
<p>Correo electrónico: {{email}}</p>
<p>Por favor, evalúe la presentación cuidadosamente.</p>