<h1>¡Tu participación fue aceptada!</h1>
<p>Eres oficialmente un participante en {{challengeName}} y puedes empezar a crear proyectos con tus amigos.</p>
<p>Por favor, ve a la página del desafío, crea tu proyecto y reúne a los miembros de tu proyecto.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}