<h1>Your participation was accepted!</h1>
<p>You are officially a participant on <strong>{{challengeName}}</strong> and you can start creating projects with your friends.</p>
<p>Please go to the challenge page, create your project and gather your project members.</p>
<a href="{{challengeUrl}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}