<h1>¡Felicidades! Tu PoP de {{challengeName}} se minteó con éxito.</h1>
<p>Tu <strong>{{challengeName}}</strong> PoP (Proof of Participation) es una prueba de participación totalmente personalizada que recibes en tu billetera basada en tus logros en el hackathon.</p>
<p>Acabas de recibir un PoP por ser <strong>{{participationMode}}</strong> en la dirección <strong>{{walletAddress}}</strong> en la red de Polygon POS.</p>
<a href="{{nftExplorerLink}}" class='cta-button'>Ver en el explorador de NFT</a>
<br/>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<p><a href="{{nftExplorerLink}}">{{nftExplorerLink}}</a></p>
<p>También puedes ver y compartir tu Galería de PoP en tu <a href='{{userProfile}}'>Perfil de TAIKAI</a>.</p>
{{{supportMsg}}}