<h1>¡Felicidades! ¡Has recibido una recompensa!</h1>
<p>¡Felicidades! Has recibido una recompensa de <strong>{{amount}} TKAIs</strong> por {{reason}} en {{challengeName}}..</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{shortDescription}}</p>
<p>Para obtener más detalles, por favor haz clic en el botón de abajo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}