<h1>Bienvenido a {{challengeName}}</h1>
<p>Hola {{fullName}},</p>
<p>¿Estás listo para crear una solución sorprendente para {{challengeName}} en TAIKAI? ¡Los innovadores tienen un papel muy importante en TAIKAI! Tendrás la posibilidad de marcar la diferencia al crear una solución para este desafío y ser seleccionado para ganar un premio.</p>
<p>Por esta razón, es importante que estés de acuerdo y cumplas con las reglas del desafío, las cuales puedes consultar en cualquier momento <a href="{{rulesLink}}">aquí</a>.</p>
<p>Confirmas tu registro como participante y aceptas las Reglas del Desafío haciendo clic en el enlace de abajo</p>
<a href="{{inviteUrl}}" class='cta-button'>CONFIRMAR EL REGISTRO</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}