<h1>¡Felicidades! ¡Estás registrado como jurado!</h1>
<p>Estás registrado como <strong>jurado</strong> en {{challengeName}}</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{challengeDescription}}</p>
<p>Para obtener más detalles, por favor haz clic en el botón de abajo.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}