<h1>Bienvenido a {{challengeName}}</h1>
<p>¡Hola {{fullName}}!</p>
<p>¿Te gustaría elegir los proyectos más innovadores en {{challengeName}} en TAIKAI? Ser un Patrocinador significa que puedes influir en el resultado final de un desafío y seleccionar qué equipo gana el premio. ¡Te proporcionamos VKAIs, solo necesitas invertir!</p>
<p>Por esa razón, es importante que estés de acuerdo y cumplas con las reglas del desafío, que puedes consultar en cualquier momento <a href="{{rulesLink}}">aquí</a>.</p>
<p>Al hacer clic en el enlace de abajo, confirmas tu registro como patrocinador y aceptas las Reglas del Desafío</p>
<a href="{{inviteUrl}}" class='cta-button'>REGÍSTRATE COMO JURADO</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}