<h1>Congratulations! You're registered as a guest jury!</h1>
<p>You are registered as a <strong>guest Jury</strong> on voting track {{votingTrackName}} of the hackathon:</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{challengeDescription}}</p>
<p>To have access to the challenge as a jury, you should use the link bellow, 
You don't need yo create an account just use the link in this email, it contains a secret-token;
for security reasons don't share this link with anyone. Please click the button below.</p>
<a href="{{challengeUrl}}" class='cta-button'>CHALLENGE PAGE</a>
<p>If you have any trouble, copy this URL and paste it in your browser:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}