<h1>¡Felicidades! Estás registrado como participante</h1>
<p>Estás registrado como <strong>participante</strong> en {{challengeName}}.</p>
<p><strong>{{challengeName}}</strong></p>
<p>{{shortDescription}}</p>
<p>Para obtener más detalles, haz clic en el botón a continuación.</p>
<a href="{{challengeUrl}}" class='cta-button'>PÁGINA DEL DESAFÍO</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{challengeUrl}}">{{challengeUrl}}</a>
{{{supportMsg}}}