<h1>Welcome to {{challengeName}}</h1>
<p>Hello {{fullName}}!</p>
<p>Would you like to choose the most innovative projects on {{challengeName}} in TAIKAI? Being a Backer means you can influence the final result of a Challenge and select which Team wins the prize. We give you VKAIs, you just need to invest!</p>
<p>For that reason, it is important that you agree and complies with the challenge rules, that you can consult any moment <a href="{{rulesLink}}">here</a>.</p>
<p>By clicking on the link below you are confirming your registration as a Backer and agreeing on the Challenge Rules.</p>
<a href="{{inviteUrl}}" class='cta-button'>REGISTER AS JURY</a>
<p>If you have any trouble, copy this URL and paste it into your browser:</p>
<a href="{{inviteUrl}}"><u>{{{inviteUrl}}}</u></a>
{{{supportMsg}}}