<h1>¿Olvidaste tu contraseña?</h1>
<p>¡Hola {{username}}!</p>
<p>¿Has olvidado tu contraseña en <a href="https://taikai.network">taikai.network</a>? Para restablecer tu contraseña, por favor haz clic en el botón de abajo.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>RECUPERAR MI CONTRASEÑA</a>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<a href="{{base_url}}{{token}}">{{base_url}}{{token}}</a>
<br/>
{{{supportMsg}}}