<h1>El usuario ha excedido el número máximo de intentos de autenticación de dos factores (2FA)</h1>
<p>Después de muchos intentos fallidos para verificar el código de 2FA, el usuario <strong>{{username}}</strong> ha sido bloqueado temporalmente durante <strong>{{tmpLockoutMin}} minutos</strong> para prevenir un ataque de fuerza bruta.</p>
<a href="{{userOverviewLink}}" class='cta-button'>Detalles del usuario</a>
<br/>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<p><a href="{{userOverviewLink}}">{{userOverviewLink}}</a></p>