<h1>Por favor, confirma tu nuevo correo electrónico</h1>
<p>Hola {{username}},</p>
<p>Por favor, confirma que esta es la nueva dirección de correo electrónico para tu cuenta de TAIKAI.</p>
<a href="{{base_url}}{{token}}" class='cta-button'>CONFIRMAR CORREO ELECTRÓNICO</a>
<br />
{{{expirationMsg}}}
<p>
<a href="{{base_url}}{{token}}">{{{base_url}}}{{{token}}}</a>
</p>
{{{supportMsg}}}