<h1>¡Gracias por registrarte!</h1>
<p>Hola {{username}},</p>
<p>¡Bienvenido a tu viaje en TAIKAI! Para comenzar, haz clic a continuación para activar tu cuenta. Después de eso, podrás completar tu perfil en tu página de perfil.</p>
<a href="{{confirmationLink}}" class='cta-button'>UNIRSE AQUÍ</a>
<br />
{{{expirationMsg}}}
<p>
<a href="{{confirmationLink}}">{{{confirmationLink}}}</a>
</p>
{{{supportMsg}}}