<h1>¡Enhorabuena! Retiro exitoso</h1>
<p>Has realizado un retiro exitoso de <strong>{{amount}} TKAI</strong> a la dirección {{to}} el {{date}}.</p>
<a href="{{explorerLink}}" class='cta-button'>Ver en el explorador de bloques</a>
<br/>
<p>Si tienes algún problema, copia esta URL y pégalala en tu navegador:</p>
<p><a href="{{explorerLink}}">{{explorerLink}}</a></p>
{{{supportMsg}}}